<mat-card class="container">

  <h1>HAVE A QUESTION? WE CAN HELP</h1>

  <mat-accordion>

    <mat-expansion-panel *ngFor="let faq of faqs; let i = index" #mep="matExpansionPanel" hideToggle>

      <mat-expansion-panel-header>
        <span class="qno">Q{{faq.id}}</span> <span class="qtxt">{{faq.question}}</span>
        <span class="plus"><i class="{{mep.expanded ? 'open' : 'closed'}}"></i></span>
      </mat-expansion-panel-header>
      <mat-panel-description class="desc-bg">
        {{faq.answer}}
      </mat-panel-description>

    </mat-expansion-panel>

  </mat-accordion>

</mat-card>
