<mat-card class="container">

<h1>HAVE A QUESTION? WE CAN HELP</h1>

  <mat-accordion>

    <mat-expansion-panel *ngFor="let faq of faqs">

      <mat-expansion-panel-header class="specific-class">
        {{faq.id}} - {{faq.question}}
      </mat-expansion-panel-header>
      <mat-panel-description  class="desc-bg">
        {{faq.answer}}
      </mat-panel-description>

    </mat-expansion-panel>

  </mat-accordion>

  <!-- <mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Destination
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Day of the trip
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel>


  </mat-accordion> -->

</mat-card>
