@import '~@angular/material/theming';
@import "./variables.scss";

@include mat-core();

$theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

@mixin accordion-theme($theme) {

  mat-card.container {
    max-width: 1170px;
    margin: 0 auto;
    border: none;
    box-shadow: none !important;

    h1 {
      padding: 40px 0 30px 0;
      margin-bottom: 40px;
      font-size: 4em;
      border-bottom: 35px solid mat-color($primary);
      line-height: normal;
      font-family: mat-font-family($oswald-bold, headline);
      color: mat-color($primary);
    }

    .mat-accordion .mat-expansion-panel {
      border-radius: 0;
      border-bottom: 3px solid mat-color($primary);
      box-shadow: none !important;

      ::ng-deep mat-expansion-panel-header {
        color: mat-color($primary);
        height: 64px;

        &.mat-expanded {
          background: mat-color($grey);
        }
      }

      ::ng-deep .mat-expansion-panel-body {
        background: white;
        padding: 16px 24px 16px 16px !important;
        font-size: 18px;
        font-family: mat-font-family($oswald-regular);
        line-height: 1.5;

        .mat-expansion-panel-header-description {
          color: mat-color($primary);
        }
      }

      span.qtxt {
        font-size: 18px;
        font-family: mat-font-family($oswald-regular);
        padding: 15px 25px 15px 50px;
      }

      span.qno {
        font-size: 36px;
        font-family: mat-font-family($oswald-bold);
        padding-top: 5px;
      }

      span.plus {
        background: mat-color($yellow);
        right: 12px;
        top: 12px;
        position: absolute;
        display: block;

        i {
          background: url("../assets/images/plus-icon.svg") no-repeat center center;
          background-size: 24px 24px;
          padding: 20px;
          display: inline-block;
          vertical-align: middle;
          transition: all 0.3s;

          &.closed {
            transform: rotate(0deg);
          }

          &.open {
            transform: rotate(45deg);
          }
        }
      }

    }
  }

  .mat-expansion-panel-spacing {
    margin: 0;
  }


}
